@model CategoryFormViewModel


<div class="container mb-5" style="padding-top:40px">
    <div class=row>
        <div class="col-md-8 offset-2" style="padding-top:50px">
            <div class="card" style="border:solid 2px">
                <div class="card-header fw-bold fs-5">
                    @(Model.Id == 0 ? "Kategori Ekleme Formu" : "Kategori Düzenleme Formu")
                </div>
                <div class="card-body">
                    <form asp-area="Admin" asp-controller="Category" asp-action="Save" method="post">

                        @if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMessage))
                        {
                            <div class="alert alert-danger">
                                @ViewBag.ErrorMessage
                            </div>
                        }
                        
                        <input type="hidden" asp-for="Id" />

                        <div class="form-group mb-2">
                            <label asp-for="Name" class="form-label required"></label>
                            <input asp-for="Name" type="text" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger fw-bold mt-1" ></span>
                        </div>

                        

                        <button type="submit" class="btn btn-warning mt-3 float-end">@(Model.Id == 0 ? "Kategori Ekle" : "Güncelle")</button>

                    </form>
                </div>
            </div>
        </div>
    </div>

</div>