<div class="index-banner-wrapper text-bg-dark ">
  <img src="~/images/home/homeimage.jpg" class="card-img" alt="..." >
  <div class="card-img-overlay">
    <h5 class="card-title text-dark">Merhaba Ben Burak</h5>
    <p class="card-text text-dark">Benimle Birlikte Yollarda Gezmeye Ne Dersiniz? Gelin O Zaman Hep Birlikte Gezelim. </p>
    
  </div>
</div>