
<partial name="_BannerPartial"></partial>
<div class="container">
	<div class="row">
		
			<vc:posts category-id="ViewBag.CategoryId" sub-category-id="ViewBag.SubCategoryId"  ></vc:posts>
		


	</div>

</div>

