@model AccountViewModel

<div class="container mt-5 ">
	<div class="d-flex ">
		<div class="col-md-6 offset-3">

			<div class="card">
				<div class="card-header fw-bold fs-5">
					Şifre Güncelle
				</div>

				<div class="card-body">

					@if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMessage))
					{
						 <div class="alert alert-danger">
                            @ViewBag.ErrorMessage
                            </div>
					}

					<form asp-area="admin" asp-controller="Account" asp-action="AccountUpdate" method="post">
						<input type="hidden" asp-for="Id" />

							<div class="form-group mb-2">
							<label class="form-label required" asp-for="LastPassword"></label>
							<input type="password" class="form-control" asp-for="LastPassword" />
							<span class="text-danger fw-bold mt-1" asp-validation-for="LastPassword"></span>
						</div>

						<div class="form-group mb-2">
							<label class="form-label required" asp-for="Password"></label>
							<input type="password" class="form-control" asp-for="Password" />
							<span class="text-danger fw-bold mt-1" asp-validation-for="Password"></span>
						</div>


						<div class="form-group mb-2">
							<label class="form-label required" asp-for="PasswordConfirm"></label>
							<input type="password" class="form-control" asp-for="PasswordConfirm" />
							<span class="text-danger fw-bold mt-1" asp-validation-for="PasswordConfirm"></span>
						</div>




						<button type="submit" class="btn btn-primary form-control mt-3">Güncelle</button>
					</form>
				</div>
			</div>

		</div>
	</div>


</div>




